# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
/.vite/deps/react.js
/.vite/deps/react.js.map
/.vite/deps/react-dom_client.js
/.vite/deps/react-dom_client.js.map
/.vite/deps/_metadata.json
/.vite/deps/chunk-B2WE2YPZ.js
/.vite/deps/chunk-B2WE2YPZ.js.map
/.vite/deps/package.json
